@font-face {
  font-family: "iconfont"; /* Project id 2816277 */
  src: url('iconfont.woff2?t=1632364684414') format('woff2'),
       url('iconfont.woff?t=1632364684414') format('woff'),
       url('iconfont.ttf?t=1632364684414') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-telephone:before {
  content: "\e608";
}

.icon-jiantou:before {
  content: "\e610";
}

.icon-phone:before {
  content: "\e62f";
}

.icon-verify:before {
  content: "\e60d";
}

.icon-username:before {
  content: "\e653";
}

.icon-password:before {
  content: "\e61c";
}

.icon-shijian2:before {
  content: "\e66a";
}

.icon-shijian2-copy:before {
  content: "\e722";
}

.icon-msg:before {
  content: "\e615";
}

.icon-quyu:before {
  content: "\e605";
}

.icon-hehuahuadeng:before {
  content: "\e60c";
}

.icon-sponsor:before {
  content: "\e6e5";
}

.icon-arrowthin:before {
  content: "\e664";
}

.icon-fillarrow:before {
  content: "\e642";
}

.icon-arrow:before {
  content: "\e62a";
}

.icon-rili:before {
  content: "\e686";
}

.icon-bag:before {
  content: "\e71e";
}

.icon-print:before {
  content: "\e685";
}

.icon-location:before {
  content: "\e6ff";
}

.icon-plus:before {
  content: "\e721";
}

.icon-clock:before {
  content: "\e6b4";
}

.icon-warn:before {
  content: "\e620";
}

.icon-notice:before {
  content: "\e62d";
}

